body {
  background-color: white;
  margin: o auto;
  padding: 0 auto;
  width: 100%;
  background-size: contain;
}
#wrapper {
  width: 90%;
  margin: 0 auto;
  top: 0;
  background-color: rgb(25, 23, 23);
  color: rgb(196, 189, 189);
}
#info {
  width: 80%;
  margin: 0 auto;
  /* padding-top: 80px; */
  background-color: rgb(54, 49, 49);
  border-bottom: 1px solid rgb(64, 57, 57);
}
#name_and_pic {
  width: 90%;
  display: block;
  margin: auto;
}
#pic {
  display: flex;
  width: 100%;
  margin: auto;
}
#namePic {
  display: flex;
  width: 60%;
  text-align: left;
  margin-right: 5%;
}
#namePic img {
  width: 50%;
  height: auto;
  padding-top: 10px;
}
#wrapper_name {
  width: 50%;
}
#address_info {
  width: 40%;
  text-align: left;
}
/* section 3 */
#wrapper_introduction {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

/* exeprience */
#wrapper_exeprience {
  width: 90%;
  margin: 2px;
  /* padding: 5px;/ */
}
#wrapper_exeprience_one {
  display: flex;
  margin: 0 auto;
}
#wrapper_exeprience_two {
  display: flex;
  /* margin: 0 auto;/ */
}
.company-name {
  margin-right: 50%;
  float: left;
}
.exe-year {
  float: right;
}
#exe-description ul li {
  list-style-type: square;
}
.title {
  color: rgb(179, 175, 175);
}
/* education  */
#wrapper_education {
  width: 90%;
  margin: 2px;
  border-bottom: 1px dotted rgb(42, 42, 25);
}
#wrapper-education-one {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2px;
}
.bachlor {
  margin-right: 50%;
  margin-right: dot yellow;
  float: left;
}
.exe-year {
  float: right;
}
#wrapper-certificate-one {
  display: flex;
}
/*Technical skills */
#wrapper-technical {
  display: flex;
  margin: auto;
}
